.DS_Store
static/.DS_Store
.venv/
instance/
token.txt
__pycache__/
*.pyc
*.pyo
*.pyd
env/
env.bak/
venv/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg   